<?xml version="1.0"?>

<!-- Send the MM to the home position -->

<launch>
  <include file="$(find mm_motion_control)/launch/real/ur10.launch" />
  <node pkg="mm_motion_control" type="joint_state_mux" name="joint_state_mux_node" output="screen" />
  <node pkg="mm_motion_control" type="home" name="home_trajectory_node" output="screen">
    <rosparam param="/joint_home_positions">
      [0.0, 0.0, 0.0, 0.0, -2.70526, -1.5708, -2.007128, -1.5708, 1.5708]
    </rosparam>
  </node>
</launch>

<!-- Standard home position
      [0.0, 0.0, 0.0, 0.0, -2.3562, -1.5708, -2.3562, -2.3562, 1.5708]
-->

<!-- Home position for pushing
      [0.0, 0.0, 0.0, 0.0, -2.70526, -1.5708, -2.007128, -1.5708, 1.5708]
-->

<!-- Home position for low pushing
      [0.0, 0.0, 0.0, 0.0, -2.9671, -1.5708, -1.7453, -1.5708, 1.5708]
-->
