<launch>
  <!-- Spoof Vicon by always publishes zero for base joints. -->
  <!-- Note this is to be used with *real hardware* in place of the actual
       Vicon system, not for computational simulations. -->
  <node pkg="mm_vicon" type="vicon_estimator_node_sim" name="mm_vicon_estimator_node" output="screen" />
</launch>
