<launch>
  <arg name="base_vicon_model" value="ThingBase2/ThingBase2" />

  <!-- Communication with Vicon -->
	<node pkg="vicon_bridge" type="vicon_bridge" name="vicon" output="screen">
		<param name="stream_mode" value="ClientPull" type="str" />
		<param name="datastream_hostport" value="192.168.2.120:801" type="str" />
		<param name="tf_ref_frame_id" value="/odom" type="str" />

    <!-- Origin of Vicon constellation is calibrated to correspond with the centre of the robot base. -->
    <param name="$(arg base_vicon_model)/zero_pose/position/x"    value="0.070644" type="double" />
    <param name="$(arg base_vicon_model)/zero_pose/position/y"    value="0.022395" type="double" />
    <param name="$(arg base_vicon_model)/zero_pose/position/z"    value="0.306399" type="double" />
    <param name="$(arg base_vicon_model)/zero_pose/orientation/x" value="0.000624" type="double" />
    <param name="$(arg base_vicon_model)/zero_pose/orientation/y" value="-0.001112" type="double" />
    <param name="$(arg base_vicon_model)/zero_pose/orientation/z" value="0.000624" type="double" />
    <param name="$(arg base_vicon_model)/zero_pose/orientation/w" value="0.999996" type="double" />
  </node>

  <!-- Velocity estimation -->
  <node pkg="mm_vicon" type="vicon_estimator_node" name="mm_vicon_estimator_node" output="screen">
    <param name="base_vicon_topic" value="/vicon/$(arg base_vicon_model)" type="str"/>
  </node>
</launch>
