<?xml version="1.0"?>

<!-- Send the robot to the home position -->

<launch>
  <arg name="home_config" default="standard" />
  <node pkg="mm_control" type="joint_control" name="mm_control_node" output="screen" required="True" />
  <node pkg="mm_control" type="home.py" name="home_node" output="screen" required="True" args="$(arg home_config)" />
</launch>
